Debug
Release
x64
.vs
*.user
*.bak
*.backup
*.log
*.o
*.lst
/8086/*.bin
/8086/data/*.txt
/8086/*.img
/8086/dump
/8086/snapshots
/Z80/*.bin
/Z80/dump
/Z80/snapshots
/6502/*.bin
/6502/dump
/6502/snapshots
/6809/*.bin
/6809/dump
/6809/snapshots
/68000/*.bin
/68000/dump
/68000/snapshots
