<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rtmpdumpUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <rtmpdumpUI.Properties.Settings>
            <setting name="SWFPlayerURL" serializeAs="String">
                <value>http://static-
illicoweb.videotron.com/static/illicoweb/static/webtv/assets/swf/01/player_v17011.swf</value>
            </setting>
            <setting name="RTMPURL" serializeAs="String">
                <value>rtmpe://24.200.251.11/</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>D:\Video\TV (fr)\Ramdam\Saison 2 (2002-2003)</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>Ramdam 117</value>
            </setting>
            <setting name="SDPFile" serializeAs="String">
                <value>M0_apQ4SfY8Q0meKvf3YkvpFw</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="rtmpPath" serializeAs="String">
                <value>D:\Dloads\rtmpdump-2.3-windows\rtmpdump-2.3\rtmpdump.exe</value>
            </setting>
        </rtmpdumpUI.Properties.Settings>
    </userSettings>
</configuration>